.food{
    background:linear-gradient(rgba(255,255,245)),(rgba(255,255,245)), url(../dessert.jpg) no repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.food .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;


}
.food .box-container .box{
    background: #fff;
    width:20rem;
    padding:1rem;
    margin: 1em;
    border-radius: 1rem;
    box-shadow: 0 .3ren .5rem rgba(0,0,0,2);
    text-align: center;
}
.food .box-container .box img{
    height: 18rem;
    width:80%;
    object-fit: cover;
}
.food .box-container .box h3{
    color:#333;
    font-size: 2rem;
    font-weight: normal;
}
.food .box-container .box .stars i{
    color: var(--yellow);
    font-size: 2rem;
    padding:1rem .1rem;
}
.food .box-container .box .price{
    color: #666;
    font-size: 1.5rem;
}
.food .box-container .box:hover{
    transform: scale(1.01);
    box-shadow: 0 1rem .1rem rgbe(0,0,0,.2)
    
}
.heading{
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
   color: cornsilk;
   background-color: black;
}
